html , body {
	font-family: 'Acme', sans-serif;
	color: white;
	font-size: 16px;
	background-image: url('../background.png');
}

.header {
	text-align: center;
}

.header h1 {
	font-family: 'Barrio', cursive;
	color: white;
	font-size: 6em;
	margin-bottom: 0;
}

.btn {
	padding: .5em 1em;
	font-family: 'Acme', sans-serif;
	margin: .5em;
	font-weight: bold;
	font-size: 1em;
	background: white;
	/*border: 3px solid white;*/
	border-radius: 2em;
	    transition: all .2s ease-in-out;

}

.btn:hover {
	/*font-size: */
	background: black;
	color: white;
	cursor: pointer;
	/*border: 3px solid black;*/
}

.actions {
	text-align: center;
	margin-bottom: 3em
}

#newTermText {
	border-radius: 2em;
    padding: .5em 1em;
    font-size: 1em;
    font-family: 'Acme', sans-serif;
}

#gifsAppearHere {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gif {
	padding: .5em;
}

.gif:hover {
	cursor: pointer;
}

.gif:hover span {
	visibility: initial;
}

.gif img {
	display: block;
}

.gif span {
	visibility: hidden;
	margin: 0;
    position: relative;
    bottom: 3em;
    left: 1em;
    background: rgba(0,0,0,.5);
    padding: 1em;
}